body {
  font-family: 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: #2a2a2a;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 22px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 50px;
  margin-bottom: 5px;
}
h4 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #939da3;
  margin: 30px 0 5px 0;
}

li {
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5px 0 ;
}

a, .sidebarLink {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .sidebarLink:hover {
  text-decoration: underline;
}

table {
  width: 740px;
  text-align: left;
  border-spacing:0; 
  border-collapse: collapse;
}

th {
  font-weight: 760;
  height: 50px;
  padding-left: 20px;
  background-color: #fafafa;
}

tr {
  height: 50px;
}

tr:nth-child(odd) {
  background-color: #fafafa;
}

td {
  border: 1px solid #f1f1f1;
  padding-left: 20px;
}

.container {
  height: auto;
  background-color: #fafafa;
}

.main {
  width: 760px;
  display: inline-block;
  margin: 80px 60px;
}

.title {
  padding: 20px 0 20px 40px;
}

.sidebar {
  color: #ffffff;
  float: left;
  background-color: #4c555a;
  padding: 30px 40px;
}

.code {
  background-color: #4c555a;
  color: #ffffff;
  height: auto;
}

pre {
  padding: 30px;
}